{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('index') }}" method="get">
        <div class="form-group">
            <label for="query-input">Query</label>
            <input type="text" class="form-control" name="q" id="query-input" value="{{ app.request.get('q') }}"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Score</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents.hits %}
                <tr>
                    <td>{{ document['_id'] }}</td>
                    <td>{{ document['_score'] }}</td>
                    <td>{{ document['_source']['title'] }}</td>
                    <td>{{ document['_source']['description'] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No Result found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{ path('index') }}" method="post">
        <div class="form-group">
            <label for="title-input">Title</label>
            <input type="text" class="form-control" name="title" id="title-input"/>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}
